@page "/"
@using Newtonsoft.Json;
@inject HttpClient client;

<h1> Vart vill du se brott som har hänt? </h1>

<EditForm Model="@NamnpaStad" OnValidSubmit="Handlethisshit">
    <InputText class="form-control" @bind-Value=NamnpaStad.Namn></InputText>
    <button class="btn btn-success my-3" type="submit">Se alla dagens brott</button>
</EditForm>


<H1 class="mt-3">Här är alla brott i denna stad:</H1>
<hr />

@if (NameStad is not null && NameStad.Count > 0)
{
   @foreach(var stad in NameStad.Take(10))
    {
        <h1>@stad.Name</h1>
        <p>@stad.Summary</p>
        <hr />
    }
}
else
{
    <p>@message</p>
}

@code{
    bool running = false;

    string message = "Inga brott i denna stad";


    public async Task Handlethisshit()
    {
        try
        {
            var res = await client.GetAsync($"https://polisapi.internal.gentlebush-8ad4885e.westeurope.azurecontainerapps.io/Stad?name={NamnpaStad.Namn}");
            running = true;
            //var res = await client.GetAsync($"http://host.docker.internal:8081?name={NamnpaStad.Namn}");
            var content = await res.Content.ReadAsStringAsync();
            NameStad = JsonConvert.DeserializeObject<List<SearchedStad>>(content);

            if(running)
            {
                message = "loading";
                if(NameStad is not null && NameStad.Count==0)
                {

                    message = "Inga brott i denna stad";
                }
            }

        }
        catch
        {
            NameStad = null;
        }
    }

    Stad NamnpaStad = new();


    List<SearchedStad> NameStad = new();

    public class Stad
    {
        public string Namn { get; set; }
    }

    public class SearchedStad
    {
        public int Id { get; set; }
        public string Datetime { get; set; }
        public string Name { get; set; }
        public string Summary { get; set; }
        public string Url { get; set; }
        public string Type { get; set; }
        public Location Location { get; set; }
    }

    public class Location
    {
        public string Name { get; set; }
        public string Gps { get; set; }
    }
}